.box-add-video{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed white;
}
.box-add-video input{
    display: none;

}
.box-add-video label i{
    font-size: 100px;
    color: white;

}
#box-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
#box-video form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    width: 100%;
    
}
.video-itens input,.video-itens textarea{
    padding: 15px 20px;
    border-radius: 20px;
    width: 100%;
    resize: none;
}
.video-itens{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.inputDisable{
    display: none;
}

label video{
    width: 450px;
    height: 450px;
}