*::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
*::-webkit-scrollbar-track {
    background: #10141F;        /* color of the tracking area */
  }
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(235, 231, 231);
    border-radius: 20px;    /* color of the scroll thumb */  /* creates padding around scroll thumb */
  }
.container1 header{
    width: 1000px;
    
}
header{
    margin: 0 auto;
    padding: 10px 40px;
}
a .logo i{
    color: #E7485D;
}

.container1 main {
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    display: flex;
    gap: 30px;
}
.container1 main .videoContainer{
   width: 70%;
    /* background-color: rgb(248, 247, 247); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.container1 main .videoContainer video{
    width: 900px;

}
/* scroll bar */


.container1 main .videos{
    width: 100%;
    height: 550px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #161D2F;
    border-radius: 20px;
    padding: 20px;
    /* background-color: pink; */
}
.videoDescription{
    width: 950px;
}
.videoDescription h2{
    color: white;
    margin-top: 20px;
}
.videoDescription p{
    color: white;
    margin-top: 20px;
    width: 800px;
    text-align: justify;
}
.line{
    width: 100%;
    height: .5px;
    background-color: rgba(255, 255, 255, 0.521);
}

.userDatails{
    width: 950px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}
.userName1{
    color: white;
    font-size: 13px;
    margin-top: 5px;
}
.userDatails img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.userDatails span{
    color: white;
}
.Comments{
    width: 950px;
    margin-top: 40px;
}
.newComment{
    margin-top: 40px;
    display: flex;
    width: 100%;
    gap: 20px;
}
.newComment .newCommentInput{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.newComment .newCommentInput input{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    outline: 0;
}
.newComment .newCommentInput input::placeholder{
    color: white;
    
}

.newComment .newCommentInput .buttons{
    padding: 20px;
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
.newComment .newCommentInput .buttons button{
    color: white;
}

.newComment img,.videoComments img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.CommentTitle{
    color: white;
    margin-top: 20px;
    
}
.videoComments{
    margin-top: 40px;
}
.comment{
    display: flex;
    gap: 20px;
    color: white;
    margin-bottom: 60px;
    width: 100%;
}
.commentVideo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.commentVideoUserName{
    font-weight: bolder;
}
.commentVideoUserComment{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.815);
    display: flex;
    /* max-width: 1040px; */
    /* width:950px; */
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}
.commentVideoIcons{
    display: flex;
    gap: 10px;
}
.threeDotsIco{
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}
.videos{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.videos .video{
    display: flex;
    color: white;
    gap: 20px;
}
.videos .video video{
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}
.videoUserDetais{
    display: flex;
    gap: 10px;
    
}
.videoUserName{
    font-size: 10px;
}
.videoDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.videoDetails .videoUserImg img{
    width: 20px;
    border-radius: 10px;

}